.container{
    display: flex;
    width: 100%;
}

.box-30{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0px 20px 50px;  
    border-right: 1.5px solid #F0F0F0;
}

.box-70{
    width: 78%;
}